.databasesok {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(217, 217, 217);
  background-image: url("block_gradient.png");
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat-x;
  background-size: auto;
  float: left;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 44%;
}
.page-nasjonale-databasar .region-content .databasesok .inner {
  background-image: url("block_corner.png");
  background-repeat: no-repeat;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  position: relative;
}